# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VS Code settings
.vscode/

# Logs
logs/
*.log



# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/

# PyInstaller
*.spec

# Temporary files
*.tmp
*.temp

.history/